@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
}

header {
  background-color: #f72210;
}

header svg {
  fill: #fff;
  height: 19px;
}

.orange {
  color: #f72210;
}

.orange:hover {
  color: #f72210;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.absolute {
  position: absolute;
}

.caption-position {
  bottom: 7px;
  left: 0;
}

.us {
  bottom: 0;
  left: 0;
}

.underline:hover {
  text-decoration-color: #f72210;
}

.empty {
  height: 19px;
  position: relative;
}

.img-relative {
  position: relative;
}
