@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #f4f5f6;
  color: #333;
  font-size: 80%;
}

header {
  background-color: #f72210;
}

header svg {
  fill: #fff;
  height: 19px;
}

.subscribe {
  color: #f72210;
  font-family: 'Roboto Condensed', sans-serif;
}

.signin {
  font-family: 'Roboto Condensed', sans-serif;
}
